.container {
  font-family: 'Courier New', sans-serif;
  width: 300px;
  margin: 30px auto 0;
  /* 上　左右　下 */
  text-align: center;
  font-weight: bold;
}
h1 {
  font-family: 'Courier New', sans-serif;
  width: 400px;
  margin: 30px auto 10px;
  text-align: center;
  font-weight: bold;
}

#target, #result {
  font-size: 32px;
  margin-bottom: 15px;
  background: #ffd6ff;
  height: 60px;
  line-height: 60px;
}

#result.standby {
  opacity: 0.5;
}

#result.perfect{
  background: #ff7fbf;
  color: #fff;
}

#start {
  float: left;
}

#stop {
  float: right;
}

#start, #stop {
  cursor: pointer;
  font-size: 18px;
  width : 145px;
  background: #e2c6ff;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 6px 0  #c489ff;
  /* 右方向 下方向 ぼかし 広がり 色 */
}

#start.pushed, #stop.pushed {
  margin-top: 4px;
  box-shadow: 0 2px 0  #c489ff;
}
